.header-wrapper {
  width: 100vw;
  height: 4em;
  display: flex;
  flex-direction: row;
  background: none;
  color: #f2e2cf;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  margin-left: 1%;
}

.header-button {
  margin-right: 1%;
}
